header {
    display: flex;
    justify-content: space-between;
    margin:20px;
}

body {
    text-align: center;
    margin:auto;
}



.theQuestion {
    width: 50%;
}

main {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: yellow;
}